	#tree  {
		
		border-collapse: collapse;
    }
	.table {
		overflow: auto;
        background: #e8edff;
        display: table;
        white-space: normal;
        line-height: normal;
        font-weight: normal;
        font-size: medium;
        font-variant: normal;
        font-style: normal;
        background-color: #E8F5FF;
        #background-image: linear-gradient(#84E1F3, #E8F5FF);
        #width: 80%;

    }
    .title {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    
    .failed {
    	color: red;    
    }
    
    .passed {
    	color: green;
    }

	img {
		margin-left: 10px;
	}


    .table-cell.row-heading {
        text-align: left;
    }
	
	.even {
		background: white;
	}
	.even:hover {
		background: #BFC9EC;

	}


	.odd {

	}
	.odd:hover {
		background: #BFC9EC;
	}

	.extrabuttons {
		right: 0px;
		position: absolute;
		display: initial;

	}

	.icon {
		background-image: url(../images/glyphicons-halflings.png);
		width: 14px;
		height: 14px;
		display: inline-block;
        margin-left: 2px;
	}
	
	.icon-plus-sign {
		background-position: 0 -96px;
	}

	.icon-minus-sign {
		background-position: -24px -96px;
	}
	
	.table {

	}
	.table-cell .name{
		display: inline-block;
	}

	.table-row {
		display: table-row;
	}

	.table-cell{
		display: table-cell;
		padding: 10px;
		text-align: center;
		border: 1px solid rgb(150, 171, 239);
	}
    
	.heading {
        font-weight: bold;
        border-bottom: 2px solid #6678b1;
        background: #BBCBFF;
		text-align: center;
		box-sizing: border-box;
		font-family: Patua One, cursive;
		font-size: 15px;
		display: table-row;
		color: rgb(255, 255, 255);
		#text-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 0px;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(133, 141, 153);
		border-top-left-radius: 5px;
		#background-image: linear-gradient(rgb(100, 111, 127), rgb(74, 85, 100));
	}
	
	.heading .table-cell {
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #039;
		padding-top: 10px;
		padding-bottom: 10px;
	}

    button {
        margin: 3px;
    }
    .chartbuttons .charts {

    }
    .chartbuttons {
        float: left;
    }

    .row-heading input[type="checkbox"] {

    }


	
